
.nav{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: flex;
  gap: 1.5rem;
  font-size: 24px;
}
.inactive{
  color: black;
}
.active{
  color:#AD896E;
  font-weight: bolder;
}
.headerImgStyle{
  width:96px;
  height:auto;
}
.headerTitleImg{
  display: flex;
  align-items: center;
}