.AppStyle{
  display:grid;
  justify-content: center;
  align-items: center;
}
.DivErrorStyle{
  margin-top: 25px;
  margin-bottom: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  font-weight: bolder;
  width: 400px;
  background: red;
}
.DivErrorStyle button{
  background-color: white;
}